

	<% @messages.each do |msg| 													%>
		<div class="container">
			<p class="round" class="rcolor">
					<%= "created at: #{msg.created_at} "		 %>
					<%= msg.text	 %>
			</p>		
		</div>

	<% end							 											%>





		
		
		
			
		

    

