

	<% @messages.each do |msg| 	%>
		<div class="container">
			<div class="round messages" >
				<ul><li>
					<%= msg.created_at %><br>
					<%= msg.text	 %>
				</li></ul>	
			</div>		
		</div>

	<% end	%>

  
     <li><a href="http://sinoptik.ua/">Погода</a></li>
    
  </div>
