

<% @torrent_links.each do |trnt| 	%>
		<div class="round messages" >
					<% user = trnt.user rescue User.find(trnt.user_id) %>
					<div class = "time_mess ">
						<%= "#{user.name} разместил #{trnt.created_at}: #{trnt.desc}" %>
					</div>
					<div class = "text_mess ">
						<%= 	 %>
						<%= link_to trnt.file_file_name, trnt.file.url %>
					</div>				
		</div>		
<% end	%>
