

<% @torrent_links.each do |trnt| 	%>
	<div class="container">
		<div class="round messages" >
			<p class="small_bottom">
				<%= link_to trnt.file_file_name, trnt.file.url %>
			</p>
		</div>		
	</div>

<% end	%>