
	<% @feedbacks.each do |fbks| 	%>
		<div class="container">
			<div class="round messages" >
				<p class="small_bottom">
					<%= fbks.urlpage %>:
					<%= fbks.message %>
				</p>
			</div>		
		</div>

	<% end	%>