

<% @torrents.each do |trnt| 	%>
		<div class="round messages" >
					<%
					 #debugger
					  %>
					<% user = trnt.user rescue User.find(trnt.user_id) %>
					<div class = "time_mess ">
						<%= "#{user.name} разместил #{trnt.created_at.strftime("%Y-%m-%d %H:%M")}" %>
					</div>
					<div class = "text_mess ">
						
						<% if trnt.description %>
							<div class = "time_mess ">
								Описание: 
								<%= trnt.description	 %>
							</div>	
						<%  end %>	
						
						<div class='right_text'>
							<%= link_to trnt.filename, torrent_path(trnt.id) %>
						</div>	
					</div>				
		</div>		
<% end	%>
