<header>

    <nav class="round">
    	<ul><li><%= link_to "Создать сообщение", new_message_path %></li></ul>
    </nav>	

    <nav class="round">
    	<ul><li><%= link_to "Читать сообщения", messages_path %></li></ul>
    </nav>	

    <nav class="round">
    	<ul><li><%= link_to "Создать нового пользователя", new_user_path %></li></ul>
    </nav>	

</header>