<header>

    <%=  print_status %>
    <%= print_status_sign %>
    
    <%  links = link_hash  %>
    <%  links.each do |link| %>
        <nav class="round">
            <ul><li><%= link_to link[:text], link[:path] %></li></ul>
        </nav>  
    <%  end                 %>
    <div><h2><%= @title %> </h2></div>

</header>