    <%  

    #1 создаем  массив хэшей:   | ключ | текст ссылки | путь ссылки |
        all_links = 
        [
            { :text=> 'Вход',                   :path => 'sessions/new' },
            { :text=> 'Читать сообщения',       :path => 'messages/index' },
            { :text=> 'Создать сообщение',      :path => 'messages/new' },
            { :text=> 'Регистрация',            :path => 'users/new' }
        ]


            #2 создаем массив:  | ключ| на основе текста ссылки
        req = request.fullpath
        need_links = []
        
        need_links <<'Регистрация'<<'Вход'  if req == '/sessions/new'



        #3 создаем массив хэшей с линками
        arr_data_link = []
        need_links.each do |need|
            arr_data_link <<  all_links.detect {|e| e[:text]==need}
        end

    %>




    
    <%  links = arr_data_link  %>

    <%  links.each do |link| %>
        <nav class="round">
            <ul><li>
                <%= link_to link[:text], link[:path] %>
            </li></ul>
        </nav>  
    <%  end                 %>

    <%= req %>